<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Profile List</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Информация о профиле:</h1>
    <div>
        Имя: {{ profile.name }}
        Email: {{ profile.email }}
    </div>
    {% if posts %}
        <div><h3>Посты юзера:</h3></div>
        <ul>
            {% for post in posts %}
                <li>
                    <p>Заголовок: {{ post.title }}</p>
                    <p>Текст: {{ post.body }}</p>
                    <p>Дата: {{ post.created_at }}</p>
                </li>
            {% endfor %}
        </ul>

    {% endif %}
</body>
</html>